# Proyecto

## Carga de datos y preparación de datos

In [ ]:
# Importando librerías
import pandas as pd

data_0= pd.read_csv('data/geo_data_0.csv')
data_1= pd.read_csv('data/geo_data_1.csv')
data_2= pd.read_csv('data/geo_data_2.csv')

In [2]:
data_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [3]:
data_0

          id        f0        f1        f2     product
0      txEyH  0.705745 -0.497823  1.221170  105.280062
1      2acmU  1.334711 -0.340164  4.365080   73.037750
2      409Wp  1.022732  0.151990  1.419926   85.265647
3      iJLyR -0.032172  0.139033  2.978566  168.620776
4      Xdl7t  1.988431  0.155413  4.751769  154.036647
...      ...       ...       ...       ...         ...
99995  DLsed  0.971957  0.370953  6.075346  110.744026
99996  QKivN  1.392429 -0.382606  1.273912  122.346843
99997  3rnvd  1.029585  0.018787 -1.348308   64.375443
99998  7kl59  0.998163 -0.528582  1.583869   74.040764
99999  1CWhH  1.764754 -0.266417  5.722849  149.633246

[100000 rows x 5 columns]

In [4]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [5]:
data_1

          id         f0         f1        f2     product
0      kBEdx -15.001348  -8.276000 -0.005876    3.179103
1      62mP7  14.272088  -3.475083  0.999183   26.953261
2      vyE1P   6.263187  -5.948386  5.001160  134.766305
3      KcrkZ -13.081196 -11.506057  4.999415  137.945408
4      AHL4O  12.702195  -8.147433  5.004363  134.766305
...      ...        ...        ...       ...         ...
99995  QywKC   9.535637  -6.878139  1.998296   53.906522
99996  ptvty -10.160631 -12.558096  5.005581  137.945408
99997  09gWa  -7.378891  -3.084104  4.998651  137.945408
99998  rqwUm   0.665714  -6.152593  1.000146   30.132364
99999  relB0  -3.426139  -7.794274 -0.003299    3.179103

[100000 rows x 5 columns]

In [6]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [7]:
data_2

          id        f0        f1        f2     product
0      fwXo0 -1.146987  0.963328 -0.828965   27.758673
1      WJtFt  0.262778  0.269839 -2.530187   56.069697
2      ovLUW  0.194587  0.289035 -5.586433   62.871910
3      q6cA6  2.236060 -0.553760  0.930038  114.572842
4      WPMUX -0.515993  1.716266  5.899011  149.600746
...      ...       ...       ...       ...         ...
99995  4GxBu -1.777037  1.125220  6.263374  172.327046
99996  YKFjq -1.261523 -0.894828  2.524545  138.748846
99997  tKPY3 -1.199934 -2.957637  5.219411  157.080080
99998  nmxp2 -2.419896  2.417221 -5.548444   51.795253
99999  V9kWn -2.551421 -2.025625  6.090891  102.775767

[100000 rows x 5 columns]

Al observar información general de los DataFrames se puede ver que podemos quitar la columna "id" ya que esta no afecta a la predicción del modelo y haciendo este cambio podemos empezar a trabajar con los datos.

In [8]:
data_0= data_0.drop(['id'], axis= 1)
data_1= data_1.drop(['id'], axis= 1)
data_2= data_2.drop(['id'], axis= 1)

Una vez realizado este cambio se puede trabajar con los DF

In [11]:
# Importando librerías
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
# Al tener que repetir algunos pasos para todos los DataFrames es conveniente crear funciones
def data_split(df):
    features= df.drop(['product'], axis= 1)
    target= df['product']
    features_train, features_valid, target_train, target_valid= train_test_split(features, target, test_size= 0.25, random_state= 12345)
    return features_train, features_valid, target_train, target_valid
def train_and_predict(x_train, x_valid, y_train, y_valid):
    model= LinearRegression()
    model.fit(x_train, y_train)
    predictions= model.predict(x_valid)
    mse= mean_squared_error(y_valid, predictions)
    rmse= mse ** 0.5
    return predictions, rmse

In [12]:
features_train_0, features_valid_0, target_train_0, target_valid_0= data_split(data_0)
predictions_0, rmse_0= train_and_predict(features_train_0, features_valid_0, target_train_0, target_valid_0)
print('RMSE de la primera región: ', rmse_0)
print('Volúmen medio de reservas de la primera región: ', predictions_0.mean())

RMSE de la primera región:  37.5794217150813
Volúmen medio de reservas de la primera región:  92.59256778438035

In [13]:
features_train_1, features_valid_1, target_train_1, target_valid_1= data_split(data_1)
predictions_1, rmse_1= train_and_predict(features_train_1, features_valid_1, target_train_1, target_valid_1)
print('RMSE de la segunda región: ', rmse_1)
print('Volúmen medio de reservas de la segunda región: ', predictions_1.mean())

RMSE de la segunda región:  0.8930992867756168
Volúmen medio de reservas de la segunda región:  68.728546895446

In [14]:
features_train_2, features_valid_2, target_train_2, target_valid_2= data_split(data_2)
predictions_2, rmse_2= train_and_predict(features_train_2, features_valid_2, target_train_2, target_valid_2)
print('RMSE de la tercera región: ', rmse_2)
print('Volúmen medio de reservas de la tercera región: ', predictions_2.mean())

RMSE de la tercera región:  40.02970873393434
Volúmen medio de reservas de la tercera región:  94.96504596800489

- A juzgar por los resultados podemos ver que el modelo predice mucho mejor para la segunda región, esta es la más confiable pero su media de reservas podría no alcanzar las ganancias deseadas.
- Las regiones uno y tres tienen más potencial de ganancias, pero su alta variabilidad en sus predicciones podría implicar pozos no rentables.

## Cálculo de ganancias

In [16]:
# Umbral de barriles
min_unit= 500_000/4500
# Promedio de reservas
promedio_0= predictions_0.mean()
promedio_1= predictions_1.mean()
promedio_2= predictions_2.mean()

print('Umbral mínimo para no tener perdidas: ', min_unit)
print('Promedio región 1: ', promedio_0)
print('Promedio región 2: ', promedio_1)
print('Promedio región 3: ', promedio_2)

Umbral mínimo para no tener perdidas:  111.11111111111111
Promedio región 1:  92.59256778438035
Promedio región 2:  68.728546895446
Promedio región 3:  94.96504596800489

- Ninguna región cumple con el umbral mínimo para no tener perdidas.
- Pero este es un promedio general aun no conocemos el potencial de los mejores pozos.

## Ganancia en conjuntos de pozos

In [17]:
# Funcion con "argsort" para conocer los 200 pozos con valores de predicción mas altos
def calculate_profit(predictions, target):
    pozos_200= predictions.argsort()[-200:] # Índice de los 200 más altos
    total_reserves= target.iloc[pozos_200].sum() # Suma de los objetivos
    profit= total_reserves * 4500
    return total_reserves, profit

In [18]:
total_reserves_0, profit_0= calculate_profit(predictions_0, target_valid_0)
total_reserves_1, profit_1= calculate_profit(predictions_1, target_valid_1)
total_reserves_2, profit_2= calculate_profit(predictions_2, target_valid_2)

print(f'Beneficio región 1: {profit_0}, reservas: {total_reserves_0}')
print(f'Beneficio región 2: {profit_1}, reservas: {total_reserves_1}')
print(f'Beneficio región 3: {profit_2}, reservas: {total_reserves_2}')

Beneficio región 1: 133208260.43139851, reservas: 29601.83565142189
Beneficio región 2: 124150866.96681511, reservas: 27589.081548181137
Beneficio región 3: 127103499.63599832, reservas: 28245.22214133296

- En base al beneficio y tambien de reservas la mejor región es la 1.
- En base a predicciones la mejor región era la 2.
- Realizando un acercamiento a la respuesta, en este caso optare por un termino medio, con la región 3.

## Cálculo de riesgos y ganancias por cada región

In [19]:
import numpy as np
# Funcion de bootstrapping ya que se repetira para cada región
state= np.random.RandomState(12345)
def bootstrap(predictions, targets, n_iters= 1000, n_sample= 500, n_top= 200, price_per_unit= 4500, invertion= 100_000_000):
    profits= []
    # Indices
    idx_all= predictions.index
    for i in range(n_iters):
        # np.random.choice: elige elementos al azar de una lista/array, en este caso eligimos 500
        sample_idx= np.random.choice(idx_all, size= n_sample, replace= False)

        # De los 500 elegimos los mejores 200
        sample_preds= predictions.loc[sample_idx]
        idx_top= sample_preds.nlargest(n_top).index # Indice de los 200 mejores

        total_reserve= targets.loc[idx_top].sum()
        # calculo de la ganancia
        revenue= total_reserve * price_per_unit
        profit= revenue - invertion
        profits.append(profit)

    # Convirtiendo la lista en un numpy array
    profits= np.array(profits)
    profit_mean= profits.mean()
    # Intervalo de confianza
    lower= np.percentile(profits, 2.5)
    upper= np.percentile(profits, 97.5)
    risk= (profits < 0).mean() * 100 # proporcion de perdidas

    return profit_mean, lower, upper, risk, profits

In [20]:
pred_series_3 = pd.Series(predictions_2, index=target_valid_2.index)
target_series_3 = pd.Series(target_valid_2.values, index=target_valid_2.index)

profit_mean_2, lower_2, upper_2, risk_2, profits_2= bootstrap(pred_series_3, target_series_3)

In [21]:
print('Beneficio promedio de la región 3: ', profit_mean_2)
print(f'Intervalo de confianza 95% de la región 3: lower {lower_2}, upper {upper_2}')
print('Riesgo de perdida de la región 3: ', risk_2)

Beneficio promedio de la región 3:  3838101.5450337618
Intervalo de confianza 95% de la región 3: lower -1338518.52227834, upper 9150142.914721284
Riesgo de perdida de la región 3:  6.7

In [22]:
# Mismo procedimiento para las demas regiones
pred_series_0 = pd.Series(predictions_0, index=target_valid_0.index)
target_series_0 = pd.Series(target_valid_0.values, index=target_valid_0.index)

profit_mean_0, lower_0, upper_0, risk_0, profits_0= bootstrap(pred_series_0, target_series_0)
print('Beneficio promedio de la región 1: ', profit_mean_0)
print(f'Intervalo de confianza 95% de la región 1: lower {lower_0}, upper {upper_0}')
print('Riesgo de perdida de la región 1: ', risk_0)
print()
pred_series_1 = pd.Series(predictions_1, index=target_valid_1.index)
target_series_1 = pd.Series(target_valid_1.values, index=target_valid_1.index)

profit_mean_1, lower_1, upper_1, risk_1, profits_1= bootstrap(pred_series_1, target_series_1)
print('Beneficio promedio de la región 2: ', profit_mean_1)
print(f'Intervalo de confianza 95% de la región 2: lower {lower_0}, upper {upper_1}')
print('Riesgo de perdida de la región 2: ', risk_1)

Beneficio promedio de la región 1:  3918145.3170589455
Intervalo de confianza 95% de la región 1: lower -740580.2149975016, upper 8909746.089604842
Riesgo de perdida de la región 1:  5.5

Beneficio promedio de la región 2:  4526996.255608707
Intervalo de confianza 95% de la región 2: lower -740580.2149975016, upper 8445595.696013559
Riesgo de perdida de la región 2:  1.6

- Al conocer el beneficio promedio y el riesgo de perdida, podemos ver que la mejor región para invertir es la 2 ya que tiene un beneficio promedio mas alto de los tres y el riesgo de perdida mas bajo de los 3.
- La peor región para invertir es la 1 con un beneficio promedio mas bajo y el riesgo de perdida mas alto.
- La región que elegi no fue la mejor pero esta entre un punto medio, para este caso no coincide mi elección anterior con mi elección final.
- La mejor región para trabajar sera la 2.